body {
  background-image: url('image/tempimg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}
